@import "variables.less";

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
}

#gravatar {
    float: left;
    margin-top: 30px;
}

#menu {
    list-style-type: none;
    padding-top: 30px;
    float: right;

    li {
        float: left;
        padding-right: 20px;
    }
}

#header {
    clear: right;
    padding: 70px 0;
    text-align: center;
}

#introduction {
    background: @lighterGrey;
    color: @lightGrey;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.main-button {
    width: 400px;
    margin: 30px auto;

    .btn {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 21px;
    }
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.1em;
    font-weight: bold;
    text-transform: uppercase;
}

#footer {
    margin-top: 30px;
    background: @mediumGrey;
    color: @white;
    padding: 30px 0;
    text-align: center;
}

.vertical-center {
    th, td {
        vertical-align: bottom;
    }
}

.no-clear {
    clear: none;
}

.repository {
    cursor: pointer;

    &:hover {
        background: #fff7d1;
    }
}

h2, h3 {
    font-weight: bold;
}
