@import "variables.less";

html,body
{
  height: 100%;
}

.wrapper
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

.footer {
    height: 80px;
}

.push {
    height: 80px;
}


body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
}

.circular {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

#gravatar {
    float: right;
    margin-top: -35px;
    margin-left: 10px;
}

.gravatar {
    max-width: 70px;
     border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

#top-left {
    padding-top: 60px;
    float: left;
}

#top-right {
    padding-top: 60px;
    float: right;
}

#menu {
    list-style-type: none;
    float: left;

    li {

        float: left;
        padding-right: 20px;

        a {
            color: #222;

            &:hover {
                color: @orange;
                text-decoration: none;
            }
        }
    }
}

#header {
    clear: right;
    padding: 70px 0;
    padding-top: 50px;
    text-align: center;
}

#introduction {
    background: @lighterGrey;
    color: @orange;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.3em;
}

.main-button {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;

    .btn {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 21px;
        background-color: @orange;
        border-color: @orange;
    }
    
}
a {
    color: #222;
    &:hover{ 
        color:@orange;
    }
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.1em;
    font-weight: bold;
}

#footer {
    background: @mediumGrey;
    color: @lightGrey;
    padding: 30px 0;
    text-align: center;
    a{
        color: #fff;
      &:hover{
        
        color: @orange;
        text-decoration: none;
      }  
    }
    
}
.fa:not(.fa-wrench){
    font-size: 2.6em;
    padding-top: 10px;
}

.vertical-center {
    th, td {
        vertical-align: bottom;
    }
}

.no-clear {
    clear: none;
}

.repository {
    cursor: pointer;

    &:hover {
        background: lighten(@orange, 8%);
    }
}

h2, h3 {
    font-weight: bold;
}

.btn {
    border-color: @orange;
    background: @orange;
    color: @white;

    &:hover {
        background: lighten(@orange, 8%);
        border-color: @orange;
        color: @white;
    }

    &:focus {
        background: darken(@orange, 10%);
        border-color: @orange;
        color: @white;
    }
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
 
.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}
 
.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.ng-hide {
    display: none !important;
    -webkit-transition: 2.5s linear all;
    transition: 2.5s linear all;
    opacity: 1;
}
