<!doctype html>
<html lang="en">
    <head>
        <title>Just for you Toby</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro"
                      rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css"
                      href="{{ STATIC_URL }}css/styles.less" />
        <script src="{{ STATIC_URL }}js/less.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% if user.is_authenticated %}
            <p>Welcome, {{ profile.name }}!</p>
            
            {% endif %}
            <ul id="menu">
                <li class="topright"><a href="{% url 'home' %}">home</a></li>
                {% if user.is_authenticated %}
                <li class="topright"><a href="{% url 'logout' %}">logout</a></li>
                {% endif %}
                <li class="topright">scoreboard</li>
                <li class="topright">about</li>
            <div id="gravatar">
                <img class="circular" src="//1.gravatar.com/avatar/{{ user.get_profile.gravatar }}?s=100" />
            </div>
            </ul>
           
            <div id="header">
                <a href="{% url 'home' %}">
                    <img src="{{ STATIC_URL }}img/logo.png" />
                </a>
            </div>

        </div>
        <div id="introduction">
    <p>Earn points for your pull requests, learn something and support open source!</p>
</div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <div class="container">
                <p>Made with love <a href="http://twitter.com/@pennapps">@PennApps2014</a> by <a href="http://twitter.com/dellsystem">@dellsystem</a>, <a href="http://twitter.com/tlornewr">@tlornewr</a> and <a href="http://twitter.com/vasunadella">@vasunadella</a></p>
            </div>
            
        </div>
    </body>
</html>
