<!doctype html>
<html lang="en">
    <head>
        <title>GitChallenge</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro"
                      rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css"
                      href="{{ STATIC_URL }}css/styles.less" />
        <script src="{{ STATIC_URL }}js/less.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>
    <body>
        {% include 'score_modal.html' %}
        {% with profile=user.get_profile %}
        <div class="wrapper">
        <div class="container">
            {% if user.is_authenticated %}
            <div data-scrollreveal="enter left move 25px over 1.0s wait 1.0s" class="container" id="top-left">
                <p>Welcome, {{ profile.name }}! You have <strong>{{ profile.total_score }}</strong> points.</p>
            </div>
            {% endif %}

            <div id="top-right">
                <ul data-scrollreveal="enter right move 25px over 1.0s wait 1.0s" id="menu">
                    <li><a href="{% url 'home' %}">home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'your_tasks' %}">your tasks</a></li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                    {% endif %}
                    <li><a href="{% url 'scoreboard' %}">scoreboard</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <div id="gravatar">
                        <a href="{{ user.get_profile.html_url }}"><img class="circular" src="//1.gravatar.com/avatar/{{ user.get_profile.gravatar }}?s=100" /></a>
                    </div>
                {% endif %}
            </div>
           
            <div  data-scrollreveal="enter top move 25px over 1.0s wait 1.0s" id="header">
                <a href="{% url 'home' %}">
                    <img src="{{ STATIC_URL }}img/logo.png" />
                </a>
            </div>
        </div>
        <div data-scrollreveal="enter bottom move 25px over 1.0s wait 1.0s" class="container">
            {% block content %}
            
            {% endblock %}
           
        </div>
        <div class="push"></div></div>
        <div data-scrollreveal="enter bottom over 0.5s" id="footer" class="footer">
            <div class="container">
                <p>Made with love <a href="http://twitter.com/@pennapps">@PennApps2014</a> by <a href="http://twitter.com/dellsystem">@dellsystem</a>, <a href="http://twitter.com/tlornewr">@tlornewr</a> and <a href="http://twitter.com/vasunadella">@vasunadella</a></p>
            </div>
            
        </div>
        {% endwith %}
        <script src="static/js/scrollReveal.js/js/scrollReveal.js"></script>
    </body>
</html>
