<!doctype html>
<html lang="en">
    <head>
        <title>Just for you Toby</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro"
                      rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css"
                      href="{{ STATIC_URL }}css/styles.less" />
        <script src="{{ STATIC_URL }}js/less.min.js"></script>
        <script src="{{ STATIC_URL }}js/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
        <div class="container">
            
            <ul id="menu">

            {% if user.is_authenticated %}

            <div id="top-left">
                <p>Welcome, {{ profile.name }}!</p>
            </div>
            {% endif %}

            <div id="top-right">
                <ul id="menu">
                    <li><a href="{% url 'home' %}">home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                    {% endif %}
                    <li>scoreboard</li>
                    <li>about</li>
                </ul>
                {% if user.is_authenticated %}
            <li class="topright">Welcome, {{ profile.name }}!</li>
            
            {% endif %}
                <li class="topright"><a href="{% url 'home' %}">home</a></li>

                {% if user.is_authenticated %}
                    <div id="gravatar">
                        <a href="{{ user.get_profile.html_url }}"><img class="circular" src="//1.gravatar.com/avatar/{{ user.get_profile.gravatar }}?s=100" /></a>
                    </div>
                {% endif %}
            </div>
           
            <div id="header">
                <a href="{% url 'home' %}">
                    <img src="{{ STATIC_URL }}img/logo.png" />
                </a>
            </div>

        </div>
        <div id="introduction">
    <p>Earn points for your pull requests while you learn something and support open source software!</p>
</div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div class="push"></div></div>
        <div id="footer" class="footer">
            <div class="container">
                <p>Made with fatigue and adoration <a href="http://twitter.com/@pennapps">@PennApps2014</a> by <a href="http://twitter.com/dellsystem">@dellsystem</a>, <a href="http://twitter.com/tlornewr">@tlornewr</a> and <a href="http://twitter.com/vasunadella">@vasunadella</a></p>
            </div>
            
        </div>
    </body>
</html>
