{% extends "base.html" %}

{% block content %}
<p>Welcome, {{ profile.name }}!</p>

<div class="text-center">
    <h1>Choose a language</h1>

    <div class="btn-group">
        {% for language in languages %}
        <button type="button" class="btn btn-primary btn-lg">{{ language }}</button>
        {% endfor %}
    </div>

    <h1>Choose a degree of difficulty</h1>

    {% for difficulty in difficulties %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-lg">{{ difficulty }}</button>
    </div>
    {% endfor %}
    
    <h1>Ready?</h1>
    <div class="main-button">
        <button type="button" class="btn btn-success btn-lg">
            Show me some projects to work on
        </button>
    </div>
    
    <p>(Make the next part only show up after generate is pressed pls k thx)</p>
</div>
{% endblock %}
