{% extends "base.html" %}

{% block content %}
<p>Welcome, {{ profile.name }}!</p>

<script>
angular.module('MyApp', []).controller('MyCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.user    = {};
        $scope.results = [];

        $scope.search = function() {
              $http.get('/your/url/search', { params: user }, function(response) { $scope.results = response; }});
              });
</script>

<div class="text-center" ng-app="MyApp" ng-controller="MyCtrl">

    <div>
      {% verbatim %}
        <label>{{ $scope.lang }}</label>
        <br />
        <label>{{ $scope.diff }}</label>
      {% endverbatim %}
    </div>

    <div ng-hide='$scope.ready'>
    <h1>Choose a language</h1>

    <div class="btn-group">
        {% for language, _ in languages %}
        <button type="button" class="btn btn-primary btn-lg" ng-click="$scope.lang='{{language}}'">{{ language }}</button>
        {% endfor %}
    </div>

    <div ng-show='$scope.lang.length>0'>
      <h1>Choose a degree of difficulty</h1>
      <div class="btn-group">
        {% for difficulty in difficulties %}
          <button type="button" class="btn btn-primary btn-lg" ng-click="$scope.diff='{{ difficulty }}'">{{ difficulty }}</button>
        {% endfor %}
      </div>
    </div>
    
    <div ng-show='$scope.diff.length>0'>
      <h1>Ready?</h1>
      <div class="main-button">
          <button type="button" class="btn btn-success btn-lg" ng-click="getIssues()">
              Show me some projects to work on
          </button>
      </div>
    </div>
    </div>
    
    <div ng-show='$scope.ready'>
    <h1>We recommend the following projects:</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h1 class="no-clear">Author</h1>
        </div>
        <div class="col-md-5">
            <h1 class="no-clear">Repository</h1>
        </div>
        <div class="col-md-4">
            <h1 class="no-clear">Level of difficulty</h1>
        </div>
    </div>
    <div class="row repository">
        <br />
        <div class="col-md-1">
            <img src="https://gravatar.com/avatar/13ff8dc8c2bf2a4752816e1e3f201a05?d=https%3A%2F%2Fidenticons.github.com%2F76dc611d6ebaafc66cc0879c71b5db5c.png&r=x" />
        </div>
        <div class="col-md-2">
            <h2>dellsystem</h2>
        </div>
        <div class="col-md-5">
            <h2 class="no-clear">Wikinotes</h2>
        </div>
        <div class="col-md-4">
            <h3 class="no-clear">
                Hard
                <small><br />
                5 Stars, 5 watchers, 10 open issues, 1010 commits</small>
            </h3>
        </div>
        <div class="col-md-12">
            <br />
            <p>#stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stac…</p>
        </div>
    </div>
    <div class="row repository">
        <br />
        <div class="col-md-1">
            <img src="https://gravatar.com/avatar/13ff8dc8c2bf2a4752816e1e3f201a05?d=https%3A%2F%2Fidenticons.github.com%2F76dc611d6ebaafc66cc0879c71b5db5c.png&r=x" />
        </div>
        <div class="col-md-2">
            <h2>dellsystem</h2>
        </div>
        <div class="col-md-5">
            <h2 class="no-clear">Wikinotes</h2>
        </div>
        <div class="col-md-4">
            <h3 class="no-clear">
                Hard
                <small><br />
                5 Stars, 5 watchers, 10 open issues, 1010 commits</small>
            </h3>
        </div>
        <div class="col-md-12">
            <br />
            <p>#stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stacked #stacked #stacked #stacked
            #stacked #stacked #stacked #stac…</p>
        </div>
    </div>
</div>

<div ng-repeat='issue in $scope.issues'>{% verbatim %}1{% endverbatim %}1</div>
</div>

{% endblock %}
