{% extends "base.html" %}

{% block content %}
</div>

<div id="introduction" data-scrollreveal="enter top move 25px over 1.0s wait 1.0s">
    <p>Learn more about code, help open source software and earn imaginary internet points by solving Github issues!</p>
</div>
<br />
<div data-scrollreveal="enter bottom move 25px over 1.0s wait 1.0s" class="container">
<div class="row text-center">
    <div class="col-md-4">
        <h2>Discover new open source projects</h2>
        <img src="{{ STATIC_URL }}img/discover.png" />
        <p>Find tons of OSS projects that you've never heard of that you might want to use or help build</p>
    </div>
    <div class="col-md-4">
        <h2>Get better at programming by debugging</h2>
        <img src="{{ STATIC_URL }}img/skills.png" />
        <p>Learn tons by taking a crack at solving some fun and interesting problems</p>
    </div>
    <div class="col-md-4">
        <h2>Join the open source movement</h2>
        <img src="{{ STATIC_URL }}img/contribute.png" />
        <p>Push open source projects forward by helping them fix issues and implement features.</p>
        <p>Help open source projects move forward by helping them work out their bugs</p>
    </div>
</div>

<div class="main-button">
    <a href="https://github.com/login/oauth/authorize?client_id={{ client_id }}&redirect_uri=http%3A%2F%2Fgitchallenge.com%2Fauthorise&scope=user,repo"
       class="btn btn-lg btn-block">
        Sign in with Github <br> <b<i class="fa fa-github"></i> 
    </a>
</div>
{% endblock %}
