{% extends "base.html" %}

{% block content %}
<h1>Scoreboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>Gravatar</th>
            <th>User</th>
            <th>Number of points</th>
            <th>Number of completed tasks</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>
                <a href="http://github.com/{{ profile.user.username }}">
                    <img class="circular" src="//1.gravatar.com/avatar/{{ profile.gravatar }}?s=100" />
                </a>
            </td>
            <td>{{ profile.name }} (<a href="http://github.com/{{ profile.user.username }}">{{ profile.user.username }}</a>)</td>
            <td>{{ profile.total_score }}</td>
            <td>{{ profile.user.task_set.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
